<h2>Cart</h2>
<p>
    <a routerLink="/shipping">Shipping Prices</a>
</p>
<div class="cart-item" *ngFor="let item of items">
    <h3>{{item.name}}</h3>
    <h4>{{item.price | currency}}</h4>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name">
    <label for="address">Address</label>
    <input id="address" type="text" formControlName="address">
    <br />
    <button class="button" type="submit">Purchase</button>
</form>